:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

body {
  background: #132552;
  color: #fff;
  font-family: 'Helvetica nue', sans-serif;
}

img {
  background-color: var(--base);
  filter: blur(var(--blur));
  padding: var(--spacing);
  max-width: 100%;
}

.hl {
  color: var(--base);
}

.controls {
  margin-bottom: 48px;
}